<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highmind.dao.LoginlogMapper">
  <resultMap id="BaseResultMap" type="com.highmind.entity.Loginlog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="domainid" jdbcType="INTEGER" property="domainid" />
    <result column="enterdate" jdbcType="TIMESTAMP" property="enterdate" />
    <result column="ip" jdbcType="NVARCHAR" property="ip" />
    <association property="employee" javaType="com.highmind.entity.Employee">
    		<id column="Eid" jdbcType="BIGINT" property="id" />
	    	<result column="Edomainid" jdbcType="BIGINT" property="domainid" />
	    	<result column="Ename" jdbcType="VARCHAR" property="name" />
	    	<result column="Eemail" jdbcType="VARCHAR" property="email" />
	    	<result column="Edepartment_id" jdbcType="BIGINT" property="department_id" />
	    	<result column="EloginId" jdbcType="VARCHAR" property="loginId" />
	    	<result column="EisLoginEnabled" jdbcType="TINYINT" property="isLoginEnabled" />
	    	<result column="Ebirthday" jdbcType="TIMESTAMP" property="birthday" />
            <result column="Etel" jdbcType="VARCHAR" property="tel"/>
	    	<result column="Eqq" jdbcType="VARCHAR" property="qq" />
	    	<result column="Esex" jdbcType="BIGINT" property="sex" />
            <result column="Eseller" jdbcType="BIT" property="seller" />
	    	<result column="Ephoto" jdbcType="VARCHAR" property="photo" />
	    	<result column="password" jdbcType="VARCHAR" property="password"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    Sys_Loginlog.id, Sys_Loginlog.domainid, Sys_Loginlog.employee_id, Sys_Loginlog.enterdate, Sys_Loginlog.ip
  </sql>
    <sql id="Employee_Base_Column_List">
    Sys_Employee.id as Eid, Sys_Employee.domainid as Edomainid, Sys_Employee.name as Ename, 
    Sys_Employee.email as Eemail, Sys_Employee.department_id as Edepartment_id, 
    Sys_Employee.loginId as EloginId, Sys_Employee.isLoginEnabled as EisLoginEnabled, 
    Sys_Employee.birthday as Ebirthday,Sys_Employee.seller as Eseller,Sys_Employee.qq as Eqq ,
    Sys_Employee.sex as Esex, Sys_Employee.photo as Ephoto, Sys_Employee.password as Epassword,
    Sys_Employee.tel as Etel
  </sql>
  <select id="selectLoginlog" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Employee_Base_Column_List"/>
    from Sys_Loginlog
    LEFT JOIN Sys_Employee 
    ON Sys_Employee.id=Sys_Loginlog.employee_id
    <where>
    	<if test="id!=null">
    		 and Sys_Loginlog.id=#{id,jdbcType=BIGINT}
    	</if>
    	<if test="domainid!=null">
    		 and Sys_Loginlog.domainid=#{domainid,jdbcType=BIGINT}
    	</if>
    	<if test="handles!=null">
    		<foreach item="item" index="index" collection="handles">
            	${item}
            </foreach>
    	</if>
    </where>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Sys_Loginlog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Sys_Loginlog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.highmind.entity.Loginlog" useGeneratedKeys="true">
    insert into Sys_Loginlog (domainid, employee_id, enterdate, 
      ip)
    values (#{domainid,jdbcType=INTEGER}, #{employee_id,jdbcType=BIGINT}, #{enterdate,jdbcType=TIMESTAMP}, 
      #{ip,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.highmind.entity.Loginlog" useGeneratedKeys="true">
    insert into Sys_Loginlog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="domainid != null">
        domainid,
      </if>
      <if test="employee_id != null">
        employee_id,
      </if>
      <if test="enterdate != null">
        enterdate,
      </if>
      <if test="ip != null">
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="domainid != null">
        #{domainid,jdbcType=INTEGER},
      </if>
      <if test="employee_id != null">
        #{employee_id,jdbcType=BIGINT},
      </if>
      <if test="enterdate != null">
        #{enterdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.highmind.entity.Loginlog">
    update Sys_Loginlog
    <set>
      <if test="domainid != null">
        domainid = #{domainid,jdbcType=INTEGER},
      </if>
      <if test="employee_id != null">
        employee_id = #{employee_id,jdbcType=BIGINT},
      </if>
      <if test="enterdate != null">
        enterdate = #{enterdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.highmind.entity.Loginlog">
    update Sys_Loginlog
    set domainid = #{domainid,jdbcType=INTEGER},
      employee_id = #{employee_id,jdbcType=BIGINT},
      enterdate = #{enterdate,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>