<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highmind.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.highmind.entity.Permission">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="domainid" jdbcType="BIGINT" property="domainid" />
    <result column="name" jdbcType="NCHAR" property="name" />
    <result column="type" jdbcType="NCHAR" property="type" />
    <result column="grouping" jdbcType="NCHAR" property="grouping" />
    <result column="remark" jdbcType="NCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    Sys_Permission.id, Sys_Permission.domainid, Sys_Permission.name, Sys_Permission.type, Sys_Permission.grouping, Sys_Permission.remark
  </sql>
  <select id="selectPermission" parameterType="Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Sys_Permission
    <where>
    	<if test="domainid!=null">
    	 	Sys_Permission.domainid=#{domainid}
    	</if>
    	<if test="id!=null">
    		Sys_Permission.id=#{id}
    	</if>
    </where>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Sys_Permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Sys_Permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.highmind.entity.Permission" useGeneratedKeys="true">
    insert into Sys_Permission (domainid, name, type, 
      grouping, remark)
    values (#{domainid,jdbcType=BIGINT}, #{name,jdbcType=NCHAR}, #{type,jdbcType=NCHAR}, 
      #{grouping,jdbcType=NCHAR}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.highmind.entity.Permission" useGeneratedKeys="true">
    insert into Sys_Permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="domainid != null">
        domainid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="grouping != null">
        grouping,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="domainid != null">
        #{domainid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=NCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=NCHAR},
      </if>
      <if test="grouping != null">
        #{grouping,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.highmind.entity.Permission">
    update Sys_Permission
    <set>
      <if test="domainid != null">
        domainid = #{domainid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=NCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=NCHAR},
      </if>
      <if test="grouping != null">
        grouping = #{grouping,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.highmind.entity.Permission">
    update Sys_Permission
    set domainid = #{domainid,jdbcType=BIGINT},
      name = #{name,jdbcType=NCHAR},
      type = #{type,jdbcType=NCHAR},
      grouping = #{grouping,jdbcType=NCHAR},
      remark = #{remark,jdbcType=NCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>