<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highmind.dao.PermissionMenuMapper">
  <resultMap id="BaseResultMap" type="com.highmind.entity.PermissionMenu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="domainid" jdbcType="BIGINT" property="domainid" />
    <result column="pemrission_id" jdbcType="BIGINT" property="pemrission_id" />
    <result column="menu_id" jdbcType="BIGINT" property="menu_id" />
    <association property="permission" javaType="com.highmind.entity.Permission">
   		<id column="Pid" jdbcType="BIGINT" property="id" />
    	<result column="Pdomainid" jdbcType="BIGINT" property="domainid" />
	    <result column="Pname" jdbcType="NCHAR" property="name" />
	    <result column="Ptype" jdbcType="NCHAR" property="type" />
	    <result column="Pgrouping" jdbcType="NCHAR" property="grouping" />
	    <result column="Premark" jdbcType="NCHAR" property="remark" />
   	</association>
    <association property="menu" javaType="com.highmind.entity.Menu">
	    <id column="Mid" jdbcType="BIGINT" property="id" />
	    <result column="Mdomainid" jdbcType="BIGINT" property="domainid" />
	    <result column="Mname" jdbcType="NCHAR" property="name" />
	    <result column="Murl" jdbcType="NCHAR" property="url" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    Sys_Permission_Menu.id , Sys_Permission_Menu.domainid, Sys_Permission_Menu.permission_id, Sys_Permission_Menu.menu_id
  </sql>
  <sql id="Permission_Base_Column_List">
    Sys_Permission.id as Pid, Sys_Permission.domainid as Pdomainid, 
    Sys_Permission.name as Pname , Sys_Permission.type as Ptype, Sys_Permission.grouping as Pgrouping, 
    Sys_Permission.remark as Premark
  </sql>
  <sql id="Menu_Base_Column_List">
    Sys_Menu.id as Mid, Sys_Menu.domainid as Mdomainid, Sys_Menu.name as Mname, Sys_Menu.url as Murl
  </sql>
  <select id="selectPermissionMenu" parameterType="Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,
    <include refid="Permission_Base_Column_List" />,
    <include refid="Menu_Base_Column_List"/>
    from Sys_Permission_Menu
    LEFT JOIN Sys_Permission ON Sys_Permission.id = Sys_Permission_Menu.permission_id
	LEFT JOIN Sys_Menu ON Sys_Menu.id = Sys_Permission_Menu.menu_id
	<where>
		<if test="id!=null">
    		and Sys_Permission.id=#{id}
    	</if>
    	<if test="domainid!=null">
    	 	and Sys_Permission.domainid=#{domainid}
    	</if>
	</where>
	
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Sys_Permission_Menu
    where id = #{id,jdbcType=BIGINT}
    <if test="domainid!=null">
    	 and Sys_Permission_Menu.domainid=#{domainid}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Sys_Permission_Menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.highmind.entity.PermissionMenu" useGeneratedKeys="true">
    insert into Sys_Permission_Menu (domainid, permission_id, menu_id
      )
    values (#{domainid,jdbcType=BIGINT}, #{permission_id,jdbcType=BIGINT}, #{menu_id,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.highmind.entity.PermissionMenu" useGeneratedKeys="true">
    insert into Sys_Permission_Menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="domainid != null">
        domainid,
      </if>
      <if test="permission_id != null">
        permission_id,
      </if>
      <if test="menu_id != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="domainid != null">
        #{domainid,jdbcType=BIGINT},
      </if>
      <if test="permission_id != null">
        #{permission_id,jdbcType=BIGINT},
      </if>
      <if test="menu_id != null">
        #{menu_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.highmind.entity.PermissionMenu">
    update Sys_Permission_Menu
    <set>
      <if test="domainid != null">
        domainid = #{domainid,jdbcType=BIGINT},
      </if>
      <if test="permission_id != null">
        permission_id = #{permission_id,jdbcType=BIGINT},
      </if>
      <if test="menu_id != null">
        menu_id = #{menu_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.highmind.entity.PermissionMenu">
    update Sys_Permission_Menu
    set domainid = #{domainid,jdbcType=BIGINT},
      permission_id = #{permission_id,jdbcType=BIGINT},
      menu_id = #{menu_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>